@model PostingScans
@{
    ViewData["Title"] = "Scanner Log";
}

@using (Html.BeginForm())
{
    @Html.LabelFor(m => m.Location)
    @Html.TextBoxFor(m => m.Location)
    @Html.LabelFor(m => m.ScannerId)
    @Html.TextBoxFor(m => m.ScannerId)
        
}

<ul><li>
    
</li></ul>